<!DOCTYPE html>
<html>
<head>

<title>AI Movie Recommendation</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>AI MOVIE RECOMMENDATION SYSTEM</h1>

<p>Find your perfect movie instantly!</p>

<form action="/recommend" method="POST">

<select name="genre" required>

<option>Action</option>
<option>Comedy</option>
<option>Sci-Fi</option>
<option>Adventure</option>
<option>Animation</option>

</select>


<select name="language" required>

<option>English</option>
<option>Hindi</option>
<option>Telugu</option>

</select>


<select name="mood" required>

<option>Exciting</option>
<option>Thrilling</option>
<option>Motivational</option>
<option>Emotional</option>
<option>Relaxing</option>

</select>


<select name="duration" required>

<option>Less than 2 Hours</option>
<option>More than 2 Hours</option>

</select>

<button type="submit">

Recommend Movies

</button>

</form>

</div>

</body>
</html>s